<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= product.name %> - Details
    </title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>

<body>
    <header>
        <div class="gif gif-left">
            <img src="/images/butterfly.gif" alt="Butterfly GIF">
        </div>
        <div class="gif gif-right">
            <img src="/images/butterfly.gif" alt="Butterfly GIF">
        </div>
        <a href="/">
            <h1 class="label">Oasis<br><span class="label">Garden Store</span></h1>
        </a>
        <nav>
            <a href="/#products">Products</a>
            <a href="/cart">Cart</a>
            <a href="/wishlist">Wishlist</a>
        </nav>
    </header>

    <main class="product-container">
        <div class="gallery">
            <div class="main-photo">
                <img src="/images/<%= product.name %>/photo-1.jpg" alt="Large photo" id="main-photo">
            </div>
            <div class="thumbnails">
                <img src="/images/<%= product.name %>/photo-1.jpg" alt="Thumbnail 1" class="thumbnail active">
                <img src="/images/<%= product.name %>/photo-2.jpg" alt="Thumbnail 2" class="thumbnail">
                <img src="/images/<%= product.name %>/photo-3.jpg" alt="Thumbnail 3" class="thumbnail">
                <img src="/images/<%= product.name %>/photo-4.jpg" alt="Thumbnail 4" class="thumbnail">
                <img src="/images/<%= product.name %>/photo-5.jpg" alt="Thumbnail 5" class="thumbnail">
            </div>
            <div class="navigation">
                <button class="prev-btn">&lt;</button>
                <button class="next-btn">&gt;</button>
            </div>
        </div>

        <div class="product-detail">
            <h1>
                <%= product.name %>
            </h1>

            <p class="product-price">Price: <%= product.price %> $</p>

            <p>Description: <br>
                <%= product.description %>
            </p>

            <form class="order-form" action="/cart/add" method="POST">
                <div class="quantity-control">
                    <button type="button" class="quantity-btn" id="decrease">-</button>
                    <input type="number" id="quantity" name="productQuantity" min="1" max="<%= product.stock %>"
                        value="1" required>
                    <button type="button" class="quantity-btn" id="increase">+</button>
                </div>
                <p>In stock: <%= product.quantity %>
                </p>
                <input type="hidden" name="productName" value="<%= product.name %>">
                <input type="hidden" name="productPrice" value="<%= product.price %>">
                <button class="button" type="submit">Add to cart</button>
            </form>

            <form action="/wishlist/add" method="POST">
                <input type="hidden" name="productName" value="<%= product.name %>">
                <input type="hidden" name="productPrice" value="<%= product.price %>">
                <button class="button" type="submit">Add to Wishlist</button>
            </form>

        </div>
    </main>


    <footer>
        <p>Oasis Garden Store &copy; 2025</p>
    </footer>

    <script src="/js/gallery.js"></script>
</body>

</html>